name: Deploy to Non Prod Environment
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'  

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1
    
    - name: Install backend dependencies
      run: npm install
    
    - name: Install frontend dependencies
      run: |
        cd lib/user-interface/app
        npm install
    
    - name: Bootstrap AWS environment
      run: npx cdk bootstrap

    - name: Deploy CDK stack
      run: npx cdk deploy ABEStackNonProd --require-approval never
    
    - name: Fetch CloudFormation Outputs
      run: |
        aws cloudformation describe-stacks --stack-name ABEStackNonProd --query "Stacks[0].Outputs" > stack-outputs.json
        cat stack-outputs.json
    
    - name: Upload Outputs as Artifact
      uses: actions/upload-artifact@v4
      with:
        name: stack-outputs
        path: stack-outputs.json